body {
  background-color: rgb(212, 215, 219);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Cambria;
}
header {
  display: flex;
  background-color: rgb(98, 91, 165);
  color: white;
  height: 175px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2em;
}
header nav {
  padding: 3px;
}
header a {
  color: white;
}
header a:hover {
  color: rgb(164, 163, 163);
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1em;
}
.page-name {
  margin-bottom: 10px;
}
.sp-name {
  margin-top: 0;
  margin-bottom: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1em;
}
footer a {
  color: black;
}
footer a:hover {
  color: rgb(98, 91, 165);
}

figure img {
  height: 450px;
}
figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-container {
  width: 50vw;
}
.contract-statement {
  width: 70vw;
  text-align: center;
  margin-bottom: 0px;
}
main {
  margin: 0;
  padding: 0;
}
.content-container {
  width: 50vw;
  height: 1150px;
  overflow: hidden;
}
h3 {
  font-size: 1.3em;
  text-align: center;
  color: rgb(98, 91, 165);
}
h3 a {
  color: rgb(98, 91, 165);
  transition: all 500ms;
}
h3 a:hover {
  font-size: 110%;
  text-decoration: underline;
}
li {
  padding: 2px;
}
