<footer>
  <p>&copy; 2025 PerpetualSol. All rights reserved.</p>
  <p>
    Page Designed By
    <a href="../phamcreative.com/" target="_blank">Pham Creative </a>&copy;
    2025,
    <em
      >Certified in
      <a
        href="https://www.freecodecamp.org/certification/spham64/responsive-web-design"
        target="_blank"
        >Responsive Web Design</a
      >
      and
      <a
        href="https://www.freecodecamp.org/certification/spham64/javascript-algorithms-and-data-structures-v8"
        target="_blank"
        >JavaScript Algorithms & Data Structures</a
      >
    </em>
  </p>
</footer>
