<footer>
  <nav>
    <a href="https://webpages.charlotte.edu/spham2/">CLT Webspace</a>
    ⛓️
    <a href="https://github.com/spham64/spham64.github.io" target="_blank"
      >GitHub</a
    >
    ⛓️
    <a href="https://spham64.github.io/itis3135/" target="_blank">GitHub.io</a>
    ⛓️
    <a href="https://www.freecodecamp.org/spham64" target="_blank"
      >freeCodeCamp</a
    >
    ⛓️
    <a href="https://www.codecademy.com/profiles/spham64" target="_blank"
      >Codeacademy</a
    >
    ⛓️
    <a href="https://www.linkedin.com/in/spham2/" target="_blank">LinkedIn</a>
  </nav>
  <p>
    Page Designed By
    <a href="phamcreative.com/" target="_blank">Pham Creative </a>&copy; 2025,
    <em
      >Certified in
      <a
        href="https://www.freecodecamp.org/certification/spham64/responsive-web-design"
        target="_blank"
        >Responsive Web Design</a
      >
      and
      <a
        href="https://www.freecodecamp.org/certification/spham64/javascript-algorithms-and-data-structures-v8"
        target="_blank"
        >JavaScript Algorithms & Data Structures</a
      >
    </em>
  </p>
</footer>
