<header>
  <h1>Sam Pham Sleepy Penguin ⛓️ ITIS 3135</h1>
  <nav>
    <a href="./">Home</a>
    ⛓️
    <a href="introduction.html">Introduction</a>
    ⛓️
    <a href="contract.html">Contract</a>
  </nav>
  <nav>
    <a href="sleepypenguin/" target="_blank">Sleepy Penguin Archives</a>
    ⛓️
    <a href="stuff/bad&WebSite.htm">Crappy</a>
    ⛓️
    <a href="website_evaluations.html">Website Evaluations</a>
    ⛓️
    <a href="hobby/">Hobby</a>
    ⛓️
    <a href="tables.html">HTML Tables</a>
    ⛓️
    <a href="byo_intro.html">BYO Intro</a>
  </nav>
</header>
